<%= form_with model: [ article, article.ratings.build ] do |form| %>
  <div class="form-group">
    <%= form.label 'Rating' %>
    <%= form.select :number,
                    options_for_select([0, 1, 2, 3, 4, 5],
                                       selected: current_user.ratings.find_by(article: @article).try(:number)),
                    {},
                    { class: "form-control",
                      disabled: current_user.ratings.find_by(article: @article) } %>
  </div>

  <% unless current_user.ratings.find_by(article: @article) %>
    <div>
      <%= form.submit 'Rate', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>