<h1><%= @user.full_name %> comments</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Comment</th>
      <th scope="col">Article link</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= link_to comment.article.title, comment.article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Просмотренные новости (в разработке)</h1>
